.wrapper {
    border: 5px solid red;
    width: 150px;
    height: 150px;
    margin: auto;
    background-color: darkslateblue;
    border-radius: 10px;
}

.buttonWrapper {
    margin-top: 50px;
}

.red {
    color: red;
}