
.display {
    font-weight: bold;
    font-size: 30px;
}


.red {
    color: red;
    font-weight: bold;
    font-size: 30px;
}

.error {
    width: 100%;
    background-color: darkslateblue;
    font-weight: bold;
    font-size: 30px
}
